.resim-ozellik
{
    width: 94%;
    height: 550px;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 15px;
}

.divrigi-ulu-camii-baslik{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.divrigi-ulu-camii-metin{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 5px;
    text-indent: 25px;
}

.sivas-baslik{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.sivas-metin{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-indent: 25px;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 5px;
}

.slider-duzen{
    margin-top: 15px;
    margin-left: 3%;
    margin-right: 3%;
}

#carouselExampleIndicators {
    height: 100vh;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sehrim-metin-duzen{
    margin-left: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-indent: 25px;
}

#bolum-buruciye{
    background-color: beige;
}

#bolum-gokpinar{
    background-color: rgb(171, 224, 232);
}

#bolum-kangal{
    background-color: moccasin;
}

#bolum-cifteminare{
    background-color: rgb(189, 194, 165);
}

#bolum-hititmagara{
    background-color: rgb(144, 176, 116);
}

.form-duzen{
    text-align: center;
    background-color: #4b4d4c;
}

#bolum-ilkSutun{
    background-color: coral;
}

#bolum-ikinciSutun{
    background-color: rgb(121, 46, 84);
}

#bolum-ucuncuSutun{
    background-color: rgb(167, 140, 104);
}

#bolum-sutunlar{
    height: 30vh;
    margin-right: 5px;
}

#bolum-ilkSutun2{
    background-color: rgb(77, 86, 135);
}

#bolum-ikinciSutun2{
    background-color: rgb(123, 133, 91);
}

#bolum-sutunlar2{
    height: 70vh;
    margin-right: 5px;
    margin-bottom: 30px;
}